pydantic-ai
pydantic-graph
pydantic-settings
truststore
pyyaml
pip_system_certs
psycopg[binary]
surrealdb
boltons
httpx
websockets
fastapi
fastapi-cli
pydantic
aiostream
watchfiles
openai
pyarrow
aiokafka
simplejson
shortuuid
pytz
truststore
